.button_smaller_left {
    position: absolute;
    user-select: none;
    text-align: center;
    top:45%;
    left: 0%;
    width: 5%;
    height: 10%;
    font-size: 55px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    background: black;
    border: 0;
    color: #fff;
    -webkit-box-shadow: 6px 0px 0px 0px rgba(0, 255, 255, 1);
    -moz-box-shadow: 6px 0px 0px 0px rgba(0, 255, 255, 1);
    box-shadow: 6px 0px 0px 0px rgba(0, 255, 255, 1); 
    letter-spacing: 3px;
    text-shadow: -1px -1px 0px #F8F005, 1px 1px 0px #00E6F6;
  }
  .button_smaller_right {
    position: absolute;
    user-select: none;
    text-align: center;
    top:45%;
    right: 0%;
    width: 5%;
    height: 10%;
    font-size: 55px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    background: black;
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    -webkit-box-shadow: -6px 0px 0px 0px rgba(0, 255, 255, 1);
    -moz-box-shadow: -6px 0px 0px 0px rgba(0, 255, 255, 1);
    box-shadow: -6px 0px 0px 0px rgba(0, 255, 255, 1); 
    text-shadow: -1px -1px 0px #F8F005, 1px 1px 0px #00E6F6;
  }
  


