.button_cyberpunk_menu, .button_cyberpunk_menu::after {
    width: 72%;
    height: 60%;
    user-select: none;
    font-size: 4vw;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, transparent 5%, #000000 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    text-shadow: -1px -1px 0px #F8F005, 1px 1px 0px #00E6F6;
  }
  
  .button_cyberpunk_menu::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -5px 0 0);
    --slice-2: inset(50% -5px 30% 0);
    --slice-3: inset(10% -5px 85% 0);
    --slice-4: inset(40% -5px 43% 0);
    --slice-5: inset(80% -5px 5% 0);
    
    content: 'WIN YOUR CARB';
    display: block;
    position: absolute;
    top: 0;
    left: 12%;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #000000 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
.button_cyberpunk_menu:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(3, end);
}
  
@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
  }
  10% {
    clip-path: var(--slice-3);
  }
  20% {
    clip-path: var(--slice-1);
  }
  30% {
    clip-path: var(--slice-3);
  }
  40% {
    clip-path: var(--slice-2);
  }
  50% {
    clip-path: var(--slice-3);
  }
  60% {
    clip-path: var(--slice-4);
  }
  70% {
    clip-path: var(--slice-2);
  }
  80% {
    clip-path: var(--slice-5);
  }
  90% {
    clip-path: var(--slice-1);
  }
  100% {
    clip-path: var(--slice-1);
  }
}