.button_cyberpunk_menu, .button_cyberpunk_menu::after {
    width: 72%;
    height: 60%;
    user-select: none;
    font-size: 4vw;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, transparent 10%, #000000 10%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    text-shadow: -1px -1px 0px #F8F005, 1px 1px 0px #00E6F6;
  }
  
  .button_cyberpunk_menu::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -10% 0 0);
    --slice-2: inset(50% -10% 30% 0);
    --slice-3: inset(10% -10% 81% 0);
    --slice-4: inset(40% -10% 43% 0);
    --slice-5: inset(80% -10% 10% 0);
    
    content: 'WIN YOUR CARB';
    display: block;
    position: absolute;
    top: 0;
    left: 12%;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 10%, #000000 10%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
.button_cyberpunk_menu:hover::after {
  animation: 0.9s glitch;
  animation-timing-function: steps(2, end);
}
  
@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, 5%px); /*380poziom 150pion*/ /*20=10% 10=10% 5=10%*/
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 6%);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 7%);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 8%);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 9%);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 10%);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 11%);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 11%);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, 11%);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 11%);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}