html,
body {
  height: 100%;
  margin: 0;
}

.base {
  position: relative;
  height: 100%;
  background: yellow;
  overflow: hidden;
}

/* Definiujemy styl animacji */
.block_left {
  background-image: url('../../Models/Layer/blankwall_left.jpg');
  position: absolute;
  background-size: cover;
  background-position: right;
  width: 50%;
  height: 100%;
  animation-name: example_left;
  animation-duration: 5s;
  animation-play-state: paused;
}

@keyframes example_left {
  0% {
    left: 0px;
    top: 0px;
    opacity: 1;
  }

  100% {
    left: -100%;
    top: 0px;
    opacity: 0;
  }
}

.block_right {
  background-image: url('../../Models/Layer/blankwall_right.jpg');
  background-position: left;
  background-size: cover;
  position: absolute;
  width: 50%;
  height: 100%;
  animation-name: example_right;
  animation-duration: 5s;
  animation-play-state: paused;
}

@keyframes example_right {
  0% {
    right: 0px;
    top: 0px;
    opacity: 1;
  }

  100% {
    right: -100%;
    top: 0px;
    opacity: 0;
  }
}

.mid {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(59, 58, 58) 0px 0px 0px 3px;
}

.game_window_background {
  background-image: url('../../Models/Layer/main.jpg');
  background-attachment: fixed;
  background-size: cover;
  width: 3000px;
  height: 100%;
  float: left;
  animation: slide 100s linear infinite;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-1080px);
    /* The image width */
  }
}

.car_menu {
  width: 100%;
  height: 100%;
}

.strip_left {
  position: absolute;
  top:25%;
  left:10%;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  width: 17%;
  height: 50%;  
  box-shadow: 0px 0px 0px 3px rgb(0, 187, 255);
  background-color: rgba(255, 255, 255, 1);
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.strip_centrum {
  position: absolute;
  right:33%;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  width: 34%;
  height: 100%;  
  box-shadow: 0px 0px 0px 3px rgb(0, 187, 255);
  background-color: rgba(255, 255, 255, 1);
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.strip_right {
  position: absolute;
  top:25%;
  right: 10%;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  width: 17%;
  height: 50%;  
  box-shadow: 0px 0px 0px 3px rgb(0, 191, 255);
  background-color: rgba(255, 255, 255, 1);
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.top_strip_left {
  position: absolute;
  background-image: url('../../Models/Layer/main_gate.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: 30%;
  box-shadow: 0px 0px 0px 3px rgb(0, 191, 255);
}
.top_strip_centrum {
  position: absolute;
  background-image: url('../../Models/Layer/car_player_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: 30%;
  box-shadow: 0px 0px 0px 3px rgb(0, 191, 255);
}
.top_strip_right {
  position: absolute;
  background-image: url('../../Models/Layer/car_player_2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: 30%;
  box-shadow: 0px 0px 0px 3px rgb(0, 191, 255);
}

.under_strip_left {
  position: absolute;
  top:50%;
  left:0%;
  width: 100%;
  height: 50%;
  text-align: center;
}

.under_strip_centrum {
  position: absolute;
  top:50%;
  left:0%;
  width: 100%;
  height: 50%;
  text-align: center;
}

.under_strip_right {
  position: absolute;
  top:50%;
  left:0%;
  width: 100%;
  height: 50%;
  text-align: center;
}

/*  -webkit-box-shadow: 0px 0px 100px 20px rgba(24, 184, 187, 1);
  -moz-box-shadow: 0px 0px 100px 20px rgba(24, 184, 187, 1);
  box-shadow: 0px 0px 100px 20px rgba(24, 184, 187, 1);